.statistics {
  &__heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__header {
    max-width: 40rem;
  }
  // &__description {
    
  // }
  &__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
  }
  &__connector {
    width: 8px;
    height: 700px;
    background: $color-primary--cyan;
    position: absolute;
    z-index: -1;
    transform: translateY(-15px);
  }
}

@media screen and (min-width: $large-screens) {
  .statistics {
    text-align: center;
    &__heading {
    }
    &__description {
      margin-bottom: 10rem;
    }
    &__media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 40px;
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
    &__connector {
      width: 700px;
      height: 8px;
      background: $color-primary--cyan;
      position: absolute;
      z-index: -1;
    }
  }
}
