

/* Buttons */

.btn {
  width: 100%;
  color: $color-white;
  padding: 1rem 2rem;
  border-radius: 4px;
  &--cyan {
    background: $color-primary--cyan;
  }
  &--violet {
    background: $color-primary--violet;
  }
  &--rounded {
    border-radius: 40px;
  }
}

@media screen and (min-width: $large-screens) {
  .btn {
    width: auto;
  }
}
