@import "../vendors/normalize";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: $line-height;
  text-align: center;
  // padding: 2rem; // remove this later
}

/* Headers */

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h4 {
  margin-top: 0;
}
/* Paragraphs */

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* Lists */
ul {
  list-style-type: none;
  padding-left: 0;
}

@media screen and (min-width: $large-screens) {
  body {
    font-size: #{$font-size-base * 0.8};
    text-align: left;
  }
}

/* Links */

a {
  text-decoration: none;
  cursor: pointer;
}

/* Buttons */

button {
  border: 0;
  cursor: pointer;
}

/* Inputs */

input {
  border: 0;
}
