.width--100{
    width: 100%;
}

.center {
    margin: 0 auto;
}

.no-padding {
    padding: 0;
}

/* Move */

@media screen and (min-width: $large-screens) {
    .move-down--1 {
      transform: translateY(40px);
    }
    .move-down--2 {
        transform: translateY(80px);
      }
  }
  